.contact {
  background-image: url("../../assets/Images/contact-bg.webp");
  background-size: cover;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3 1fr);
  grid-template-rows: 1fr 1/2fr;
}

.contact-container {
  grid-column-start: span 3;
  width: 100%;
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contact-container h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  color: #555;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.form-group input:focus,
.form-group textarea:focus {
  outline: none;
  border-color: #333;
  box-shadow: 0 0 5px rgba(51, 51, 51, 0.2);
}

.submit-button {
  padding: 10px 15px;
  background-color: #333;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #555;
}

.open-hours,
.address,
.contact-info {
  text-align: center;
  background-color: white;
  padding: 2rem;
}

@media (max-width: 768px) {
  .contact {
    grid-template-columns: 1fr;

  }

}