* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --primary-bg-color: #f4f7f6;
  --secondary-bg-color: white;

  --navbar-color: #4a5568;


  --primary-font-color: #1a202c;
  --secondary-font-color: #4a5568;
  --third-font-color: #f4f7f6;

  --hover-color: red;

  --p-font-size: 18px;
  --h2-font-size: 40px;
  --h3-font-size: 20px;
}