@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --primary-font: 'Playfair Display', serif;
  --secondary-font: 'Montserrat', sans-serif;

  --primary-bg-color: #f4f7f6;
  --secondary-bg-color: white;

  --navbar-color: #4a5568;


  --primary-font-color: #1a202c;
  --secondary-font-color: #4a5568;
  --third-font-color: #f4f7f6;

  --accent-color: #f7b42c;
  --btn-hover-color: darkorange;

  --p-font-size: 18px;
  --h2-font-size: 40px;
  --h3-font-size: 20px;
}