* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --primary-bg-color: rgb(0, 0, 0);
  --secondary-bg-color: white;

  --primary-font-color: #1a202c;
  --secondary-font-color: #4a5568;

  --hover-color: red;

  --p-font-size: 18px;
  --h2-font-size: 40px;
  --h3-font-size: 20px;
}